<div class="row" style="padding-top: 20px; padding-left: 5px;">
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Div 1</h5>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Div 2</h5>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Div 3</h5>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Div 4</h5>
            </div>
        </div>
    </div>
</div>

<!-- Actions -->
<div class="row" style="padding: 20px;">
    <div class="col-3">
        <button class="btn btn-primary">Add Red</button>&nbsp;
        <button class="btn btn-primary">Add Blue</button>
    </div>
    <div class="col-3">
        <button class="btn btn-primary">Toggle Color</button>
    </div>
    <div class="col-3" style="display: flex;">    
        <input type="text" placeholder="str1"> = <input type="text" placeholder="str2">
    </div>
    <div class="col-3" style="display: flex; justify-content: center;">
        <input type="checkbox"> 
    </div>
</div>
<br>