<table class="table table-bordered">
    <thead>
        <th scope="col">Original Text</th>
        <th scope="col">Pipe Name</th>
        <th scope="col">Pipe Output</th>
    </thead>
    <tbody>
        <tr>
            <td>{{pipeText}}</td>
            <td>Original Text</td>
            <td>{{pipeText}}</td>
        </tr>
        <tr>
            <td>{{pipeText}}</td>
            <td>Lower Case</td>
            <td></td>
        </tr>
        <tr>
            <td>{{pipeText}}</td>
            <td>Upper Case</td>
            <td></td>
        </tr>    
        <tr>
            <td>{{pipeText}}</td>
            <td>Title Case</td>
            <td></td>
        </tr>
        <tr>
            <td>{{pipeJson}}</td>
            <td>Original Json</td>
            <td>{{pipeJson}}</td>
        </tr>
        <tr>
            <td>{{pipeJson}}</td>
            <td>json</td>
            <td></td>
        </tr>
        <tr>
            <td>{{pipeDate}}</td>
            <td>original Date</td>
            <td>{{pipeDate}}</td>
        </tr>
        <tr>
            <td>{{pipeDate}}</td>
            <td>Date</td>
            <td></td>
        </tr>
        <tr>
            <td>{{pipeDate}}</td>
            <td>Date</td>
            <td></td>
        </tr>
        <tr>
            <td>{{pipeDate}}</td>
            <td>Date</td>
            <td></td>
        </tr>
        <tr>
            <td>{{pipeDate}}</td>
            <td>Date</td>
            <td></td>
        </tr>
        <tr>
            <td>{{pipeDate}}</td>
            <td>Short Date</td>
            <td></td>
        </tr>
        <tr>
            <td>{{pipeDate}}</td>
            <td>Medium Date</td>
            <td></td>
        </tr>
        <tr>
            <td>{{pipeDate}}</td>
            <td>Long Date</td>
            <td></td>
        </tr>
        <tr>
            <td>{{pipeDate}}</td>
            <td>Short Time</td>
            <td></td>
        </tr>
        <tr>
            <td>{{pipeDate}}</td>
            <td>Medium Time</td>
            <td></td>
        </tr>
        <tr>
            <td>{{pipeDate}}</td>
            <td>Long Time</td>
            <td></td>
        </tr>
        <tr>
            <td>{{pipeDate}}</td>
            <td>Full Time</td>
            <td></td>
        </tr> 
        <tr>
            <td>{{5.123456789}}</td>
            <td>Number</td>
            <td></td>
        </tr> 
        <tr>
            <td>{{5.123456789}}</td>
            <td>Number</td>
            <td></td>
        </tr> 
        <tr>
            <td>{{5.123456789}}</td>
            <td>Number</td>
            <td></td>
        </tr>
        <tr>
            <td>{{500}}</td>
            <td>Currency</td>
            <td></td>
        </tr>
        <tr>
            <td>{{500}}</td>
            <td>Currency</td>
            <td></td>
        </tr>
        <tr>
            <td>{{500}}</td>
            <td>Currency</td>
            <td></td>
        </tr>
        <tr>
            <td>{{500}}</td>
            <td>Currency</td>
            <td></td>
        </tr>
        <tr>
            <td>{{500}}</td>
            <td>Currency</td>
            <td>td>
        </tr>
        <tr>
            <td>{{0.25}}</td>
            <td>Percent</td>
            <td></td>
        </tr>
        <tr>
            <td>{{cars}}</td>
            <td>Slice</td>
            <td></td>
        </tr>
        <tr>
            <td>{{cars}}</td>
            <td>Slice</td>
            <td></td>
        </tr>
        <tr>
            <td>{{cars}}</td>
            <td>Slice</td>
            <td></td>
        </tr>
    </tbody>
</table>