<h4 style="padding-top: 20px;">NG IF</h4>
<div class="row" style="padding-left: 5px;">
    <div class="col-3">
        <div *ngIf="isDiv1Visible then thenBlock else elseBlock" class="card" style="width: 18rem; background-color: aqua;">
            <div class="card-body">
              <h5 class="card-title">Div 1</h5>
            </div>
        </div>
    </div>
    <ng-template #thenBlock>
        <p>Div1 is visible</p>
    </ng-template>
    <ng-template #elseBlock>
        <p>Div1 is hidden</p>
    </ng-template>
    <div class="col-3">
        <div *ngIf="isDiv2Visible" class="card" style="width: 18rem; background-color: orange;">
            <div class="card-body">
              <h5 class="card-title">Div 2</h5>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div *ngIf="str1 === str2" class="card" style="width: 18rem; background-color: yellow;">
            <div class="card-body">
              <h5 class="card-title">Div 3</h5>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div *ngIf="isActive" class="card" style="width: 18rem; background-color: green;">
            <div class="card-body">
              <h5 class="card-title">Div 4</h5>
            </div>
        </div>
    </div>
</div>

<!-- Actions -->
<div class="row" style="padding: 20px;">
    <div class="col-3">
        <button class="btn btn-primary" (click)="hide()">Hide</button>&nbsp;
        <button class="btn btn-primary" (click)="show()">Show</button>
    </div>
    <div class="col-3">
        <button class="btn btn-primary" (click)="toggle()">Toggle</button>
    </div>
    <div class="col-3" style="display: flex;">    
        <input type="text" placeholder="str1" [(ngModel)]="str1"> = <input type="text" placeholder="str2" [(ngModel)]="str2">
    </div>
    <div class="col-3" style="display: flex; justify-content: center;">
        <input type="checkbox" [(ngModel)]="isActive"> 
    </div>
</div>
<br>

<h4>NG FOR</h4>
<!-- https://jsonplaceholder.org/comments -->

<ul>
    <li *ngFor="let car of cars">{{car}}</li>
</ul>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Post Id</th>
        <th scope="col">User Id</th>
        <th scope="col">Comment</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of comments; let i=index">
            <td>{{i}}</td>
            <td>{{c.id}}</td>
            <td>{{c.userId}}</td>
            <td>{{c.postId}}</td>
            <td>{{c.comment}}</td>
        </tr>
    </tbody>
</table>


<br>


<h4>NG SWITCH</h4>
<div [ngSwitch]="selectedCar">
    <p *ngSwitchCase="'audi'">Selected Audi</p>
    <p *ngSwitchCase="'bmw'">Selected bmw</p>
    <p *ngSwitchCase="'mercedes'">Selected mercedes</p>
    <p *ngSwitchCase="'volvo'">Selected volvo</p>
    <p *ngSwitchCase="'thar'">Selected thar</p>
    <p *ngSwitchDefault>Select a car</p>
</div>

<select [(ngModel)]="selectedCar">
    <option *ngFor="let car of cars">{{car}}</option>
</select>